---
layout: resume
title: Bennie Mosher's Resume and Curriculm Vitae
---
%section.skills.resume_section
  %aside.title
    %span Skills
  %article
    %p
      Ruby, Rails, Javascript, Grunt, Gulp, NPM, Bower, AMD, RequireJS, Zepto, jQuery, Rake, Vagrant, Docker, Jasmine, RSpec, Capybara, Handlebars, PHP, HTML, CSS, SCSS, Postgres, MySQL, Git, Jekyll, Assemble, Middleman, JSTL, JSP, Wireframing, Flow Charting, UI/UX Design, SEO, Agile Practices,  TDD, BDD, Pragmatic Programming

%section.experience.resume_section
  %aside.title
    %span Experience
  - blog(:resume).articles.each do |job|
    %article
      %h2= job.data.company
      %h3= job.data.position
      %h4
        = job.data.duration
        ,
        = job.data.location
      %p= job.data.description
