---
title: Bennie Mosher's Resume and Curriculm Vitae
---
= partial "header"

%section.skills.resume_section
  %aside.title
    %span Skills
  %article
    %p
      Ruby, Rails, Javascript, PHP, HTML, CSS, SCSS, Postgres, MySQL, Git,
      Wireframing, Flow Charting, UI and UX Design, SEO, Agile Practices,
      Pragmatic Programming

%section.experience.resume_section
  %aside.title
    %span Experience
  - blog(:resume).articles.each do |job|
    %article
      %h2= job.data.company
      %h3= job.data.position
      %h4
        = job.data.duration
        ,
        = job.data.location
      %p= job.data.description

= partial "footer"
